.main-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
}

.main-inner>.item>a>img, .main-inner>.item>img {
  line-height: 1;
}
.main-inner>.item>a>img, .main-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
}

.mainViewPort {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px;
  width: 400px;
  height: 448px;
  background-color: rgba(142, 145, 145, .7);
}

#personalPhoto {
  height: 200px;
  margin-bottom: -10px;
}

.blurViewPort {
  overflow: hidden;
  /*background-color: rgba(250,250,250,.7);*/
  z-index: 5;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  /*opacity: 0.95;*/
}

#blurBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainCaption {
  z-index: 10;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#go-down {
  width: 40px;
  height: 40px;
  display: inline-block;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /*border: 1px solid black;*/
}

.down-arrow i,
.down-arrow:hover i,
.down-arrow:visited i {
  color: #F5F5F5;
}

@keyframes pointToDown {
  from {
    -webkit-transform: translateY(0px); /* Safari and Chrome */
    -moz-transform: translateY(0px); /* Firefox */
    -ms-transform: translateY(0px); /* IE 9 */
    -o-transform: translateY(0px); /* Opera */
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(13px); /* Safari and Chrome */
    -moz-transform: translateY(13px); /* Firefox */
    -ms-transform: translateY(13px); /* IE 9 */
    -o-transform: translateY(13px); /* Opera */
    transform: translateY(13px);
  }
}

.down-arrow i {
  animation-duration: .7s;
  animation-name: pointToDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#carouselCaption {
  -webkit-animation-duration: 1s; /* Safari and Chrome */
  -moz-animation-duration: 1s; /* Firefox */
  -ms-animation-duration: 1s; /* IE 9 */
  -o-animation-duration: 1s; /* Opera */
}

.row-top-margin {
  margin-top: 60px;
}

.footer {
  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;
}

.footer a:hover {
  text-decoration: none;
}

.div-float-left {
  display: inline-block;
}

.div-center {
  display: inline-block;
  padding-left: 50px;
}

.coffee {
  font-size: x-large;
  color: #654321;
}

.mansour {
  font-size: large;
}

.sections section {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.sections section a:hover,
.sections section a:focus {
  text-decoration: none;
}

#home {
  height: 630px;
}

#about {
  padding-bottom: 60px;
  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#projects {
  padding-bottom: 60px;
  margin-left: 60px;
}

#heisencat {
  width: 450px;
}

#contact {
  padding-bottom: 60px;
}

#octobiwan {
  width: 350px;
}

.copyright {
  background: rgba(0, 0, 0, 0.1);
  padding-top: 8px;
  text-align: center;
}

.copyright a:focus {
  text-decoration: none;
}
