section #services {
  text-align: left;
  transform: translatez(0);
}

section #services li {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  section #services li {
    width: 50px;
    height: 50px;
  }
}

section #services li div {
  width: 90px;
  height: 90px;
  font-size: 3.4em;
  text-align: center;
  line-height: 90px;
  transition: all 0.5s ease;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  section #services li div {
    width: 50px;
    height: 50px;
    font-size: 2em;
    line-height: 50px;
  }
}

section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}

section #services li span {
  width: 90px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
  section #services li span {
    width: 50px;
  }
}

section #services li a:focus {
  text-decoration: none;
}

section #services li a {
  color: inherit;
}

.social-github {
  background-color: #fff;
  background: url(../img/GitHub-Mark-64px.png) no-repeat;
  background-size: 64px 64px;
  background-position: center;
}

.social-linkedin {
  color: #fff;
  background-color: #4875B4;
  background: url(../img/In-2C-66px-R.png) no-repeat;
  background-size: 64px 64px;
  background-position: center;
}

.social-twitter {
  color: #2daae1;
  background-color: #fff;
  background: url(../img/Twitter_Logo_Blue.png) no-repeat;
  background-size: 64px 64px;
  background-position: center;
}

.social-gplus {
  color: #fff;
  background-color: #d34836;
  background: url(../img/gplus_icon_flush_76dp.png) no-repeat;
  background-size: 64px 64px;
  background-position: center;
}

.social-facebook {
  color: #fff;
  background-color: #0077B5;
}
